*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

header{
    background: black;
    padding: 20px;
}

body{
    background: white;
}

header > h1{
    color: white;
    font-family: Asap, sans-serif;
}

#player{
    margin-top: 20px;
}

